---
http_interactions:
- request:
    method: get
    uri: https://erikberg.com/events.json?date=20130901
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Xmlstats-Api-Method:
      - events
      Xmlstats-Api-Exec-Time:
      - '37'
      Xmlstats-Api-Limit:
      - ''
      Etag:
      - '1416359259'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "events_date" : "2013-09-01T00:00:00-04:00",
          "event" : [ {
            "event_id" : "20130901-philadelphia-phillies-at-chicago-cubs",
            "event_status" : "scheduled",
            "sport" : "MLB",
            "start_date_time" : "2013-09-01T03:45:56-04:00",
            "season_type" : "regular",
            "away_team" : {
              "team_id" : "philadelphia-phillies",
              "abbreviation" : "PHI",
              "active" : true,
              "first_name" : "Philadelphia",
              "last_name" : "Phillies",
              "conference" : "National",
              "division" : "East",
              "site_name" : "Citizens Bank Park",
              "city" : "Philadelphia",
              "state" : "Pennsylvania",
              "full_name" : "Philadelphia Phillies"
            },
            "home_team" : {
              "team_id" : "chicago-cubs",
              "abbreviation" : "CHC",
              "active" : true,
              "first_name" : "Chicago",
              "last_name" : "Cubs",
              "conference" : "National",
              "division" : "Central",
              "site_name" : "Wrigley Field",
              "city" : "Chicago",
              "state" : "Illinois",
              "full_name" : "Chicago Cubs"
            },
            "site" : {
              "capacity" : 39538,
              "surface" : "Grass",
              "name" : "Wrigley Field",
              "city" : "Chicago",
              "state" : "Illinois"
            }
          }, {
            "event_id" : "20130901-new-york-mets-at-washington-nationals",
            "event_status" : "scheduled",
            "sport" : "MLB",
            "start_date_time" : "2013-09-01T03:45:56-04:00",
            "season_type" : "regular",
            "away_team" : {
              "team_id" : "new-york-mets",
              "abbreviation" : "NYM",
              "active" : true[...]
