---
http_interactions:
- request:
    method: get
    uri: https://erikberg.com/mlb/teams.json?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Xmlstats-Api-Method:
      - teams
      Xmlstats-Api-Exec-Time:
      - '5'
      Xmlstats-Api-Limit:
      - ''
      Etag:
      - '-2080227086'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        [ {
          "team_id" : "arizona-diamondbacks",
          "abbreviation" : "ARI",
          "active" : true,
          "first_name" : "Arizona",
          "last_name" : "Diamondbacks",
          "conference" : "National",
          "division" : "West",
          "site_name" : "Chase Field",
          "city" : "Phoenix",
          "state" : "Arizona",
          "full_name" : "Arizona Diamondbacks"
        }, {
          "team_id" : "atlanta-braves",
          "abbreviation" : "ATL",
          "active" : true,
          "first_name" : "Atlanta",
          "last_name" : "Braves",
          "conference" : "National",
          "division" : "East",
          "site_name" : "Turner Field",
          "city" : "Atlanta",
          "state" : "Georgia",
          "full_name" : "Atlanta Braves"
        }, {
          "team_id" : "baltimore-orioles",
          "abbreviation" :[...]
